html, body { 
   height: 100%; 
   border: 0; 
   margin: 0; 
   font-family: Arial,Helvetica,sans-serif; 
   background-color: #e8e8e8;
}

.header { 
   height: 80px;
   color: #CEE3F6;
   background: linear-gradient(#093052, #3C6184);
   margin: 0;
   padding: 2px;
   z-index: 10;
}

.header img { position: relative;
   left: 8px;
   top: 8px;
   margin: 0;
   padding: 0;
}

.header h1 {position: absolute;
   font-size: 2rem;
   font-weight: bold;
   color: white;
   top: 1rem;
   left: 9rem;
   padding: 0;
   margin: 0.20em;
   min-width: 30rem;
}

#forms {
   padding-bottom: 1rem;
}

table.itinerary {
   border: 2px solid #444;
   width: calc(100% - 2rem);
   border-collapse: collapse; 
   margin: 1rem 1rem 2rem 1rem;
   break-inside: avoid;
   break-before: auto;
}

.itinerary th {
   background: #AAA;
   height: 1.5rem;
   -webkit-print-color-adjust:exact;
   print-color-adjust:exact;
}

.itinerary td {
   text-align: center;
   border-bottom: 1px solid #ccc;
   border-right: 1px solid #ccc;
   height: 1.6rem;
}

.itinerary th:nth-child(1) {width: 3rem}   /*day      */
.itinerary th:nth-child(2) {width: 11%}    /*time     */
.itinerary th:nth-child(3) {width: 16%}    /*loc      */
.itinerary th:nth-child(4) {width: 12%}    /*presenter*/
.itinerary th:nth-child(5) {width: 10%}    /*contact  */
.itinerary th:nth-child(6) {width: 12%}    /*meal     */
.itinerary th:nth-child(7) {width: 35%}    /*descr    */

.itinerary td:nth-child(6) {border-right: 1px solid black}

.vert p {
    text-align:center;
    white-space:nowrap;
    transform: rotate(90deg);
    width: 3rem;
    margin-top: -1rem;
}

.itinerary tr:first-child {
    font-size: 1.35em;
    text-decoration: underline;
}

#controls, #controls2 {
   padding: 1rem;
   font-weight: bold;
}

.left {
   float: left;
   width: 10rem;
}

.right {
   text-align: right;
   float: right;
   width: 10rem;
}

.center {
   text-align: center;
}

#results table button {
      display: none;
}

#index {
   margin: 1em 3em;
   border-collapse: collapse;
}

#index th {
   border-bottom: 2px solid gray;
   margin: 0.3em 1em;
   padding: 5px;
   text-align: left;
   padding: 5px 10px;
}

#index td {
   margin: 0.3em 1em;
   padding: 5px 10px;
   border-bottom: 1px solid #F8F8F8;
}

#index button {
  transform: scale(0.6);
}

#index td:nth-child(1) {
   font-weight: bold;
}

#index td a {
   text-decoration: none;
   color: black;
   cursor: pointer;
}

#index td:hover {
   text-decoration: underline;
}

#itineraries .cancel {
   margin-left: 10rem;   
}





@media print {
   body {
      font-size: 12px;
   }
   .header {
      display: none;
   }
   button {
      display: none;
   }
   table {
      margin: 1rem 1rem;
   }

   th {
      height: 1rem;
   }
   td {
      height: 1rem;
   }

}